<h3><%= t 'navi_about_info' %></h3>
  <% if (I18n.locale == I18n.default_locale) || (I18n.locale != I18n.default_locale && @about.tekst_en.size < 15) %>
    <%= raw(@about.tekst_pl) %>
  <% else %>
      <%= raw(@about.tekst_en) %>
  <% end %>
</div>
