
        <div class="page-header">  
            <h2>Kontakt</h2>  
        </div>  
        <form class="form-horizontal" style="margin-left:-100px;">  
            <div class="control-group">  
                <label class="control-label" for="input1">Imię</label>  
                <div class="controls">  
                    <input type="text" name="contact_name" id="input1" placeholder="Twoję imię">  
                </div>  
            </div>  
            <div class="control-group">  
                <label class="control-label" for="input2">Email</label>  
                <div class="controls">  
                    <input type="text" name="contact_email" id="input2" placeholder="Twój adres email">  
                </div>  
            </div>  
            <div class="control-group">  
                <label class="control-label" for="input3">Wiadomość</label>  
                <div class="controls">  
                    <textarea name="contact_message" id="input3" rows="8" class="span5" placeholder="Treść wiadomości którą chcesz przesłać do nas."></textarea>  
                </div>  
            </div>  
            <div class="form-actions" style="width:100%;margin-left:80px;padding-left: 120px;">  
                <input type="hidden" name="save" value="contact">  
                <button type="submit" class="btn btn-primary">Wyślij wiadomość</button>  
            </div>  
        </form>  
          


