				<div class="indent">
				   <div class="page-header">  
					<h2>Witaj!</h2>
				   </div>
					<p></p>
				</div>
				<div class="box1">
					<div class="inner">
						<h3>Ostatnio Dodane Aktualności </h3>
						<ul class="list1">
							<% @news_last.each do |news| %>
							<li><b><%= link_to news.tytul, news %></b><%= strip_tags(news.tekst_pl[0..300]).gsub(/&nbsp;/i," ").gsub("\r\n"," ")+"..." %></li>
							<% end %>
						</ul>
					</div>
				</div>

