				<div class="indent">
				   <div class="page-header">  
					<h2>Witaj!</h2>
				   </div>
				   <% if @tournament_last.present? && @tournament_last.termin_end >= DateTime.now %>
					<p align="center">
					<%= link_to @tournament_last, :class => "btn btn-large btn-primary" do %>
						<i class="icon-double-angle-right"></i> Info: <%= @tournament_last.nazwa %> <i class="icon-double-angle-left"></i>
					<% end %>
					</p>
				   <% end %>
				</div>

				<div class="box1">
					<div class="inner">
						<h3>Ostatnio Dodane Aktualności </h3>
						<ul class="list1">
							<% @news_last.each do |news| %>
							<li><b><%= link_to news.tytul, news %></b><%= strip_tags(news.tekst_pl[0..300]).gsub(/&nbsp;/i," ").gsub("\r\n"," ")+"..." %></li>
							<% end %>
						</ul>
					</div>
				</div>

