<h3><i class="icon-edit"></i> Edycja Profilu</h3>
<%= form_for @user, :html => { :multipart => true, class: "form-horizontal" } do |f| %>
<%= render partial: 'form', locals: { f: f } %>

<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn btn-primary">
      <i class="icon-check"></i> Zapisz
    </button>
  </div>
</div>
<% end %>
