<div class="page-header">  
	<h3><i class="icon-align-justify"></i> Rejestracja</h3>
</div>

<%= form_for @user, :html => { :multipart => true } do |f| %>
<%= render partial: 'form', locals: { f: f } %>

<div class="actions">
     <button type="submit" class="btn btn-primary">
  	<i class="icon-check"></i> Zarejestruj
     </button>
</div>
<% end %>


