<div id="dojazd" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <a class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></a>
        <div class="row">
          <div class="col-md-9">
            <address id="map">
              Gdańsk Curling CLub, Gdańsk, Plac Zebrań Ludowych
            </address>
          </div>
          <div class="col-md-3">
            <h2><i class="fa fa-map-marker"></i></h2>
            <address>
              <strong>Gdańsk Curling Club</strong><br>
              Plac Zebrań Ludowych<br>
              (Lodowisko Miejskie)<br>
              80-309 Gdańsk<br>
              <abbr title="Phone"><i class="fa fa-phone"></i>:</abbr> 602-230-045
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
