<div id="tournament" class="modal fade" tabindex="-1">
  <div class="modal-dialog" style="margin-top:-5px">
    <div class="modal-content">
      <div class="modal-header">
        <a class="btn btn-primary" href="/tournaments/2">Dowiedz się więcej</a>
        <div class="btn-group" style="float:right">
          <label class="btn btn-default" data-toggle="buttons" id="tournament_close">
            Nie pokazuj więce tego okna
            <input type="checkbox">
          </label>
          <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
      <div class="modal-body" style="padding:0px;text-align:center">
        <img src="http://images.gdanskcurlingclub.pl/plakat_pl_m.png" />
      </div>
    </div>
  </div>
</div>
