<h3>Edycja Aktualności Ogólnej</h3>

<%= form_for @news, :html => { :multipart => true } do |f| %>
<%= render partial: 'form', locals: { f: f } %>
<br />
<div class="actions">
    <button type="submit" class="btn btn-primary">
      <i class="icon-check"></i> Aktualizuj Aktualność Ogólną
    </button>
  </div>
<% end %>
