<h3><i class="icon-book"></i> Edycja Album</h3>

<%= form_for @album, :html => { :multipart => true } do |f| %>
<%= render partial: 'form', locals: { f: f } %>

<div class="actions">

  <button type="submit" class="btn btn-primary">
    <i class="icon-check"></i> Aktualizuj Album
  </button>

  <%= link_to "/galeria",:class => "btn btn-small btn-primary" do %>
    <i class="icon-share-alt"></i> Wróć do listy albumów
  <% end %>

</div>

<% end %>
