<h3>Edycja Linku</h3>

<%= form_for @medium, :html => { :multipart => true } do |f| %>
<%= render partial: 'form', locals: { f: f } %>
<br />
<div class="actions">
    <button type="submit" class="btn btn-primary">
	<i class="icon-check"></i> Aktualizuj Link
    </button>
  </div>
<% end %>
