<div class="home">
        <div class="page-header">  
		<h3>Logowanie</h3>
	</div>

	<%= render 'form' %>

<div class="actions" style="border-top:1px solid rgb(238, 238, 238); width:300px;padding:5px;">
Zapomniałeś hasła? <a>Kliknij aby zresetować hasło</a> <br>
Nie masz konta? <a>Kliknij aby się zarejestrować</a>
</div>
</div>
